<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <li routerLinkActive="active"><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li routerLinkActive="active"><a routerLink="/patients"><i class="fa fa-users"></i> <span>Pazienti</span></a></li>
      <li routerLinkActive="active"><a routerLink="/diets"><i class="fa fa-apple"></i> <span>Diete</span></a></li>
      <li routerLinkActive="active"><a routerLink="/examinations"><i class="fa fa-heartbeat"></i> <span>Visite</span></a></li>
      <!-- <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li> -->
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
