<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html">
      <b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Reset your password here</p>

    <form #form="ngForm" (ngSubmit)="onSubmitforgotpassword(form.value)">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" name="email" ngModel>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Send Email</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- /.social-auth-links -->
  </div>
  <!-- /.login-box-body -->
</div>